.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Shared Section */

.primary-bg{
    background-color: #F5F8FF;
}

.text-primary {
    color: #252432;
}

.btn-primary {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: none;
}


/* Header Section */

.header {
    background-image: url('../images/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav Section */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: #4E47FF;
    font-weight: 800;
    font-size: 35px;
}

/* Banner Section */

.banner{
    height: 370px;
    text-align: center;
    gap: 37px;
    padding: 300px 500px 152px;
}


.banner-greetings {
    font-size: 65px;
    font-weight: 800;
}

.banner-profile-pic{
    border-radius: 48px;
    max-width: 400px;
}

/* Main Section */

/* Action Section */

.action{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.action-container{
    text-align: left;
    padding: 10px 50px;
    justify-content: space-between;
}
.action-title{
    font-size: 42px;
    font-weight: 800;
}

.action-description{
    color: rgba(37, 36, 50, 0.5);
    max-width: 500px;
    font-size: 24px;
    font-weight: 300;
}

/* Productive Users Section */

.users{
    text-align: center;
    padding: 200px;
}

.users-box{
    justify-content: space-evenly;
    background-color: rgba(78, 71, 255, 0.1);
    border: none;
    border-radius: 30px;
    padding: 10px 150px;
}

.users-title{
    text-align: center;
    font-size: 38px;
    font-weight: 800;
}
.users-description{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.users-description-title{
    color: #4E47FF;
    font-size: 80px;
    font-weight: 800;
}

.users-description-subtitle{
    color: rgba(37, 36, 50, 0.5);
    font-size: 20px;
    font-weight: 300;
}

/* Let’s Get In Touch Section */

/* Footer Section */

/* Users’ Feedback Section */